@import "./variables.scss";
@import "./bootstrap.scss";

body, html, #app {
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

#app #layout {
  min-height: 100%;
  font-family: var(--primary-font-family);
  background: var(--background);
  color: var(--color);
  font-size: 1rem;
  line-height: 1.5;
}
