@import "./variables.scss";
@import "./bootstrap.scss";

body, html, #app {
  height: 100%;
  width: 100%;
}

#app {
  font-family: $primary-font-family;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}
